.conatiner{
    width: 40vw;
    height: 80vh;
    border: 1px solid red;
}

h1{
    background-color: cadetblue;
    font-weight: 700;
    color: black;
}   

.sticky{
    position: sticky;
    top: 20px;
}

.realtive
{
    position: relative;
}

.absolute{
    position: absolute;
    top: 20px;
    right: 30px;
}

.fixed{
    position: fixed;
    bottom: 20px;
    right: 30px;
}

