*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(223, 223, 223);
}
div > h1{
    color: white;
    padding: 5px 450px;
    border: 3px solid red;
}
#h{
    background-color: blue;
    padding: 30px;
    border-radius: 8px;
}
#h4{
    color: white;
    padding: 5px 450px;
}

.container{
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
    height: 1000px;
}

.quiz{
    background-color: rgb(218, 237, 237);
    margin-top: 1px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    height: 100px;
}

.box{
    background-color: khaki;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 600px;
    padding: 50px;
    border: 5px solid darkblue;
}

.fixed{
    position: fixed;
    bottom: 20px;
    right: 30px;
}

