*{
    padding: 0;
    margin: 0;
}
body {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "head head " "navbar mainContent ";
    background-color: aliceblue;

}

header{
    grid-area: head;
    background-color: blue;
    font-size: 24px;
    text-align: center;
    align-content: center;
    color: white;
    padding: 10px;
    height: 100px;
}

nav{
    grid-area: navbar;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 30px;
    width: 250px;
    height: 600px;
    align-content: flex-start;
    text-align: left;
}
nav > p{
    font-size: 15px;
}
main{
    grid-area: Aside;
    color: green;
}

.flex1{
    background-color :white;
    /* border: 1px solid gray; */
    color: black;
    font-size: 15px;
    width: 275px;
    height: 55px;
    align-content: center;
    text-align: center;
    border-left: 5px solid blue;
    border-radius: 5px;
}
.flexbox1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
}
.flex2{
    background-color :white;
    border: 1px solid lightblue;
    color: black;
    font-size: 15px;
    width: 380px;
    height: 55px;
    align-content: center;
    padding: 5px;
    border-radius: 8px;
}
.flexbox2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
}
.flex2:hover{
    transform: translateX(-8px);
}